{% extends 'app_eSports/base.html' %}
{% load static %}

{% block title %}Cadastro{% endblock %}

{% block content %}
<div class="container">
    <form method="post">
        <h1 style="text-align: center; font-size: 3rem; margin-bottom: 2rem;">Crie sua Conta</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Cadastrar</button>
    </form>
    <p style="text-align: center; margin-top: 1rem;">
        Já tem uma conta? <a href="{% url 'login' %}">Faça login</a>.
    </p>
</div>
{% endblock %}