{% extends 'app_eSports/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <form method="post">
        <h1 style="text-align: center; font-size: 3rem; margin-bottom: 2rem;">Login</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn">Entrar</button>
    </form>
    <p style="text-align: center; margin-top: 1rem;">
        Não tem uma conta? <a href="{% url 'cadastro' %}">Cadastre-se</a>.
    </p>
</div>
{% endblock %}