{% extends 'app_eSports/base.html' %}
{% load static %}
{% block title %}Definir Nova Senha{% endblock %}

{% block content %}
<div class="auth-container">
    {% if validlink %}
        <h1>Definir Nova Senha</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Alterar Senha</button>
        </form>
    {% else %}
        <h1>Link Inválido</h1>
        <p>Este link de redefinição de senha é inválido, pois já foi usado ou expirou.</p>
        <a href="{% url 'password_reset' %}" class="btn" style="margin-top: 1rem;">Tentar novamente</a>
    {% endif %}
</div>
{% endblock %}